<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<img width="300" src="images/xtmotors_logo_fixed_2.png" alt="">
		</div>

		<div id="form-container" class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-6" id="login-form-wrapper" hidden="" style="display: block; opacity: 1;">
				<p id="login-error" hidden="" style="display: none;">
				</p>
				<form id="login-form" class="ng-pristine ng-valid" >
					<input id="user-email" name="email" type="email" class="form-control login-input" ng-model="email" placeholder="EMAIL">
					<input name="password" type="password" class="login-form form-control login-input" placeholder="PASSWORD" ng-model="password" id="login-password">
					<div class="row login-form">
						<div class="col-xs-6">
							<div class="row login-options">
								<div class="checkbox login-input-checkbox" id="remember-me">
									<label>
										<input name="remember" type="checkbox"><span class="checkbox-material"><span class="check"></span></span>&nbsp; Remember Me?
									</label>
								</div>
							</div>
							<div id="forgot-password-container" class="row login-options">
								<!-- <a id="forgot-password">Forgot your password?</a> -->
							</div>
						</div>
						<div class="col-xs-6">
							<button type="submit" class="btn btn-primary btn-raised pull-right splash-button-success" ng-click="attemptLogin(email,password)" style="background:#3f51b5;">Login<div class="ripple-wrapper"></div></button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-xs-3">
			</div>
		</div>
	</div>
</div>
<div class="version-no">v&nbsp;0.0.1</div>
