<div ng-cloak>
  <!-- <md-content> -->
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab">
      <vehicle-summary></vehicle-summary>
      <!-- <import-summary></import-summary> -->
      <maintenance-record-list></maintenance-record-list>
      <!-- <contract-summary></contract-summary> -->
      <md-tab label="Upload car photos">
        <md-content class="md-padding">
        <!-- Upload your car photos -->
          <h4>Upload Car Photos</h4>
          <ul>
              <li ng-repeat="image in images">
                  {{image.photoName}}
                  <img ng-src="{{image.imageUrl}}" width="300">
              </li>
          </ul>

          <button ngf-select="uploadFiles($files)" ngf-multiple="true">Select Files</button>
          <br>
          <div layout="row" layout-sm="column" layout-align="space-around" ng-if="uploading">
            <md-progress-circular md-mode="determinate" value="{{progress}}"></md-progress-circular>
            <span class="progress" ng-show="progress >= 0">
              <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
            </span>
          </div>
          <br>Files:
          <ul>
              <li ng-repeat="f in files" style="font:smaller">
                  {{f.name}}
                  <img ngf-thumbnail="f || '/thumb.jpg'" width="300">
              </li>
          </ul>

        </md-content>
      </md-tab>

    </md-tabs>
  <!-- </md-content> -->
  </div>
  <div layout="row" layout-align="center center" ng-hide="!(selectedTab == 1 || selectedTab == 0)" ng-if="!showMaintenanceReordDetails">
    <md-button flex="25" class="md-raised" ng-click="backToCar()">{{"cancel" | translate}}</md-button>
    <md-button flex="25" class="md-raised md-primary" ng-disabled=" !(vehicleInfo.$valid)" ng-click="saveCar()">{{"save" | translate}}</md-button> 
  </div>
