<div>
  <md-card  ng-hide="$state.current.name === 'car.details'">
    <md-card-content>
        <md-table-container>
          <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder>
             <tr md-row>
                <th md-column md-order-by="carId"><span>{{"id" | translate}}</span></th>
                <th md-column md-order-by="makerName"><span>{{"brand" | translate}}</span></th>
                <th md-column md-order-by="model" md-desc><span>{{"model" | translate}}</span></th>
                <th md-column md-numeric md-order-by="year"><span>{{"year" | translate}}</span></th>
                <th md-column md-numeric md-order-by="odometer"><span>{{"odometer" | translate}}</span></th>
                <th md-column md-numeric md-order-by="price"><span>{{"salePrice" | translate}}</span></th>
                <th md-column md-order-by="arriveTime"><span>{{"arriveTime" | translate}}</span></th>
                <th md-column md-order-by="carStatus"><span>{{"status" | translate}}</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr  md-row md-select="car" md-on-select ng-repeat="car in cars | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td ng-click="editCar(car)" md-cell>{{::car.carId}}</md-cell>
                <td md-cell>{{::car.makerName}}</md-cell>
                <td md-cell>{{::car.model}}</td>
                <td md-cell>{{::car.year}}</td>
                <td md-cell>{{::car.odometer| number }}&nbsp;Km</td>
                <td md-cell>{{::car.total | currency}}</td>
                <td md-cell>{{::car.arriveTime | date : "EEEE, dd MMMM yyyy"}}</td>
                <td md-cell><span class="label" ng-class="checkCarStatusColor(car.carStatus)">{{::car.carStatus}}</span></td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

         <md-table-pagination  md-limit="query.limit" md-page="query.page" md-total="{{cars.length}}" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate></md-table-pagination>

    </md-card-content>
  </md-card>
<div class=""  ui-view="car-details-view">
</div>
</div>
