<div ng-cloak>
  <!-- <md-content> -->
    <md-tabs md-dynamic-height md-border-bottom>
      <vehicle-summary></vehicle-summary>
      <import-summary></import-summary>
      <maintenance-record-list></maintenance-record-list>
      <contract-summary></contract-summary>
    </md-tabs>
  <!-- </md-content> -->
  </div>
  <div layout="row" layout-align="center" ng-if="!showMaintenanceReordDetails">
    <md-button flex="25" class="md-raised" ng-click="backToCar()">Cancel</md-button>
    <md-button flex="25" class="md-raised md-primary" ng-click="saveCar(car,contract,importSummary,importRecord)">Save</md-button>
  </div>





 


