<md-tab label="{{'tab_maintenance_record' | translate}}" ng-disabled="newCar || newVehicleModel">
  <md-content class="md-padding">
   <div layout="row" layout-align="center" ng-if="!showMaintenanceReordDetails">
    <md-button flex="25" class="md-raised md-primary" ng-click="addMaintenanceRecord()">{{"maintenance_record_addMaintenanceRecord" | translate}}</md-button>
    </div>
    <div layout="column" ng-if="!showMaintenanceReordDetails">
      <!-- <div layout="row"> -->
      <md-card flex="100" ng-repeat="record in maintenanceRecords">
          <md-card-content layout="row" layout-wrap>
              <md-list-item class="md-3-line">
                <md-icon class="md-avatar" md-svg-icon="avatars:svg-1"></md-icon>
                <div class="md-list-item-text" layout="column">
                  <h3 flex>{{::record.projectName}}&nbsp;{{::record.projectCategory}}</h3>
                  <h4 flex>{{::record.description}}</h4>               
                  <h4 flex>{{::record.total | currency}}</h4>
                  <h4 flex>{{record.paymentStatus?('payment_paid' | translate):('payment_unpaid' | translate)}}</h4>
                </div>         
              <md-button class="md-secondary" ng-click="editMaintenanceRecord(record)">{{"maintenance_record_editMaintenanceRecord" | translate}}</md-button>
            </md-list-item>
          </md-card-content>
      </md-card>
    <!-- </div> -->
    </div>
    <maintenance-record-details ng-if="showMaintenanceReordDetails"></maintenance-record-details>
  </md-content>
</md-tab>

