      <md-tab label="Vehicle Summary">
        <!-- <md-content class="md-padding"> -->
          <div layout="column">
          <div layout="row">
            <md-card flex="50">
              <md-subheader class="md-primary">Features</md-subheader>
              <md-card-content>
                <form layout="row" layout-wrap name="carSummary">

   
                  <md-input-container flex="50" class="md-block">
                    <label>CarId</label>
                    <input required name="carId" ng-model="car.carId">
                    <div ng-messages="carSummary.carId.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50" class="md-block">
                    <label>WofTime</label>
                    <input time="false" date="true" mdc-datetime-picker="" type="text" id="wofTime" placeholder="Date" ng-model="car.wofTime" class=" md-input">
                  </md-input-container>

                  <md-input-container flex="50" class="md-block">
                    <label>RegisterationNum</label>
                    <input name="registerationNum" required ng-model="car.registerationNum">
                    <div ng-messages="carSummary.registerationNum.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container> 
                  <md-input-container flex="50" class="md-block">
                    <label>Warranty</label>
                    <input name="warranty" ng-model="car.warranty">
                    <div ng-messages="carSummary.warranty.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container> 
                  <md-input-container flex="50" class="md-block">
                    <label>Odometer</label>
                    <input name="odometer" required ng-model="car.odometer">
                    <div ng-messages="carSummary.odometer.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>Color</label>
                    <input name="color" required ng-model="car.color">
                    <div ng-messages="carSummary.color.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>Vin</label>
                    <input name="vin" required ng-model="car.vin">
                    <div ng-messages="carSummary.vin.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>Length</label>
                    <input name="length" required ng-model="car.length">
                    <div ng-messages="carSummary.length.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>Width</label>
                    <input name="width" required ng-model="car.width">
                    <div ng-messages="carSummary.width.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>Height</label>
                    <input name="height" required ng-model="car.height">
                    <div ng-messages="carSummary.height.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>CarStatus</label>
                    <input name="carStatus" required ng-model="car.carStatus">
                    <div ng-messages="carSummary.carStatus.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>CarComment</label>
                    <input name="carComment" required ng-model="car.carComment">
                    <div ng-messages="carSummary.carComment.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>Price</label>
                    <input name="price" required ng-model="car.price">
                    <div ng-messages="carSummary.price.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>GST</label>
                    <input name="gst" required ng-model="car.gst">
                    <div ng-messages="carSummary.gst.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>Total</label>
                    <input name="total" required ng-model="car.total">
                    <div ng-messages="carSummary.total.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>PaymentStatus</label>
                    <input name="paymentStatus" required ng-model="car.paymentStatus">
                    <div ng-messages="carSummary.paymentStatus.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>Currency</label>
                    <input name="currency" required ng-model="car.currency">
                    <div ng-messages="carSummary.currency.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container> 
                  <md-input-container flex="50" class="md-block">
                    <label>Description</label>
                    <input name="carDescription" required ng-model="car.description">
                    <div ng-messages="carSummary.carDescription.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                </form>
              </md-card-content>
            </md-card>

            <md-card flex="50">
              <md-subheader class="md-primary">Vehicle Info</md-subheader>
              <md-card-content>
              <form layout="row" layout-wrap name="vehicleInfo">
                  <md-input-container flex="50" class="md-block">
                    <label>MakerName</label>
                    <input name="makerName" required ng-model="vehicleModel.makerName">
                    <div ng-messages="vehicleInfo.makerName.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>Model</label>
                    <input name="model" required ng-model="vehicleModel.model">
                    <div ng-messages="vehicleInfo.description.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container> 
                  <md-input-container flex="50" class="md-block">
                    <label>Year</label>
                    <input name="year" required ng-model="vehicleModel.year">
                    <div ng-messages="vehicleInfo.year.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container> 
                  <md-input-container flex="50" class="md-block">
                    <label>Engine</label>
                    <input name="engine" required ng-model="vehicleModel.engine">
                    <div ng-messages="vehicleInfo.engine.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container> 
                  <md-input-container flex="50" class="md-block">
                    <label>Fuel</label>
                    <input name="fuel" required ng-model="vehicleModel.fuel">
                    <div ng-messages="vehicleInfo.fuel.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>FuelEconomyCity</label>
                    <input name="fuelEconomyCity" required ng-model="vehicleModel.fuelEconomyCity">
                    <div ng-messages="vehicleInfo.fuelEconomyCity.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>FuelEconomyHwy</label>
                    <input name="fuelEconomyHwy" required ng-model="vehicleModel.fuelEconomyHwy">
                    <div ng-messages="vehicleInfo.fuelEconomyHwy.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>FuelEconomyMixed</label>
                    <input name="fuelEconomyMixed" required ng-model="vehicleModel.fuelEconomyMixed">
                    <div ng-messages="vehicleInfo.fuelEconomyMixed.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>Origin</label>
                    <input name="origin" required ng-model="vehicleModel.origin">
                    <div ng-messages="vehicleInfo.origin.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>Transmission</label>
                    <input name="transmission" required ng-model="vehicleModel.transmission">
                    <div ng-messages="vehicleInfo.transmission.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>Seats</label>
                    <input name="seats" required ng-model="vehicleModel.seats">
                    <div ng-messages="vehicleInfo.seats.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>Doors</label>
                    <input name="doors" required ng-model="vehicleModel.doors">
                    <div ng-messages="vehicleInfo.doors.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>Weight</label>
                    <input name="weight" required ng-model="vehicleModel.weight">
                    <div ng-messages="vehicleInfo.weight.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>DriveTrain</label>
                    <input name="driveTrain" ng-model="vehicleModel.driveTrain">
                  </md-input-container>
                </form>
              </md-card-content>
            </md-card>
            </div>
          </div>
        <!-- </md-content> -->
      </md-tab>