      <md-tab label="{{'tab_vehicle_summary' | translate}}">
          <div layout="column">
          <div layout="row">
            <md-card flex="50">
              <md-subheader class="md-primary">{{"summary_feature_title" | translate}}</md-subheader>
              <md-card-content>
                <form layout="row" layout-wrap name="carSummary">
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_carId" | translate}}</label>
                    <input required name="carId" disabled ng-model="car.carId">
                    <div ng-messages="carSummary.carId.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_registerationNum" | translate}}</label>
                    <input name="registerationNum" required ng-model="car.registerationNum">
                    <div ng-messages="carSummary.registerationNum.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_wofTime" | translate}}</label>
                    <md-datepicker ng-model="car.wofTime" name="wofTime" md-placeholder="20/11/2016" md-hide-icons="calendar"></md-datepicker>
                  </md-input-container>

                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_warranty" | translate}}</label>
                    <!-- warranty-Suffix -->
                    <input name="warranty" required ng-model="car.warranty">
                    <div ng-messages="carSummary.warranty.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_odometer" | translate}}</label>
                    <input name="odometer" required ng-model="car.odometer">
                    <div ng-messages="carSummary.odometer.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_color" | translate}}</label>
                    <input name="color" required ng-model="car.color">
                    <div ng-messages="carSummary.color.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_vin" | translate}}</label>
                    <input name="vin" required ng-model="car.vin">
                    <div ng-messages="carSummary.vin.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                 <!--  <md-input-container flex="50" class="md-block">
                    <label>Body Type</label>
                    <input name="bodyType" required ng-model="vehicleModel.bodyType">
                    <div ng-messages="carSummary.bodyType.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container> -->
                  
                  <!-- <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_paymentStatus" | translate}}</label>
                    <input name="paymentStatus" required ng-model="car.paymentStatus">
                    <div ng-messages="carSummary.paymentStatus.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container> -->
                   <!-- <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_length" | translate}}</label>
                    <input name="length" required ng-model="car.length">
                    <div ng-messages="carSummary.length.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_width" | translate}}</label>
                    <input name="width" required ng-model="car.width">
                    <div ng-messages="carSummary.width.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_height" | translate}}</label>
                    <input name="height" required ng-model="car.height">
                    <div ng-messages="carSummary.height.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container> -->
                  <!-- <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_carStatus" | translate}}</label>
                    <input name="carStatus" required ng-model="car.carStatus">
                    <div ng-messages="carSummary.carStatus.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container> -->
                   <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_carComment" | translate}}</label>
                    <input name="carComment" required ng-model="car.carComment">
                    <div ng-messages="carSummary.carComment.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                   <!-- <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_price" | translate}}</label>
                    <input name="price" required ng-model="car.price">
                    <div ng-messages="carSummary.price.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container> -->
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_total" | translate}}</label>
                    <input name="total" required ng-model="car.total">
                    <div ng-messages="carSummary.total.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_gst" | translate}}</label>
                    <input name="gst" required ng-model="car.gst">
                    <div ng-messages="carSummary.gst.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_currency" | translate}}</label>
                     <md-select ng-model="selectedcarCurrency" ng-change="currencyChanged(selectedcarCurrency)">
                        <md-optgroup label="Currency">
                        <md-option ng-repeat="item in carCurrency" value="{{item}}">
                           {{item}}
                        </md-option>
                     </md-select>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_carStatus" | translate}}</label>
                     <md-select ng-model="selectedcarStatus" ng-change="statusChanged(selectedcarStatus)">
                        <md-optgroup label="Car Status">
                        <md-option ng-repeat="item in carStatusList" value="{{item}}">
                           {{item}}
                        </md-option>
                     </md-select>
                  </md-input-container>
                  
                  <!-- Input for description
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_feature_description" | translate}}</label>
                    <input name="carDescription" required ng-model="car.description">
                    <div ng-messages="carSummary.carDescription.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container> -->

                  <!-- Textarea for description. I prefer this one-->
                  <md-input-container flex="100" class="md-block carDescription">
                    <label>{{"summary_feature_description" | translate}}</label>
                    <textarea ng-model="car.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                  </md-input-container>

                  <!-- Text angular for description. Cannot show binded ng-model when refresh the page. 
                  <md-input-container flex="100" class="md-block">
                    <label>{{"summary_feature_description" | translate}}</label>
                    <text-angular flex="100" ng-model="car.description" ta-toolbar="[]">
                    </text-angular>
                  </md-input-container> -->

                  <div class="checkBox" flex="100" style="margin-top:0">
                    {{"maintenance_record_paymentStatus" | translate}} &nbsp;
                    <md-checkbox class="md-block" ng-model="car.paymentStatus" aria-label="paymentStatus">
                       {{car.paymentStatus ?'Paid':'Unpaid'}}
                    </md-checkbox>
                  </div>
                  
                </form>
              </md-card-content>
            </md-card>
            <md-card flex="50">
              <md-subheader class="md-primary">{{"summary_vehicleInfo_title" | translate}}</md-subheader>
              <md-card-content>
              <form layout="row" layout-wrap name="vehicleInfo">
                  <div flex="100" class="searchBar" ng-if="isVehicleModelListLoaded" layout="row">
                    <span flex="70">
                      <md-autocomplete
                        md-selected-item="selectVehicle"
                        md-search-text="modelSearchText"
                        md-selected-item-change="selectedItemChange(selectVehicle)"
                        md-items="item in vehicleModelList | filter:modelSearchText"
                        md-item-text="item.makerName+' '+item.model+' '+item.year"
                        md-min-length="0"
                        md-max-length="10"
                        placeholder="{{'summary_vehicleInfo_searchText' | translate }}"
                        style="color:#333;">
                        <md-item-template>
                          <span md-highlight-text="modelSearchText">{{item.makerName+' '+item.model+' '+item.year}}
                          </span>
                        </md-item-template>
                      </md-autocomplete>
                    </span>
                    <span flex="30">
                      <md-button class="md-raised md-primary add-model-button" ng-click="createNewVehicleModel()">Add New Model</md-button>
                    </span>
                  </div>
                  

                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_makerName" | translate}}</label>
                    <input name="makerName" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.makerName">
                    <div ng-messages="vehicleInfo.makerName.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_model" | translate}}</label>
                    <input name="model" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.model">
                    <div ng-messages="vehicleInfo.description.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_year" | translate}}</label>
                    <input name="year" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.year">
                    <div ng-messages="vehicleInfo.year.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_engine" | translate}}</label>
                    <input name="engine" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.engine">
                    <div ng-messages="vehicleInfo.engine.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_fuel" | translate}}</label>
                    <input name="fuel" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.fuel">
                    <div ng-messages="vehicleInfo.fuel.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_fuelEconomyCity" | translate}}</label>
                    <input name="fuelEconomyCity" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.fuelEconomyCity">
                    <div ng-messages="vehicleInfo.fuelEconomyCity.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_fuelEconomyHwy" | translate}}</label>
                    <input name="fuelEconomyHwy" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.fuelEconomyHwy">
                    <div ng-messages="vehicleInfo.fuelEconomyHwy.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                   <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_fuelEconomyMixed" | translate}}</label>
                    <input name="fuelEconomyMixed" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.fuelEconomyMixed">
                    <div ng-messages="vehicleInfo.fuelEconomyMixed.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_origin" | translate}}</label>
                    <input name="origin" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.origin">
                    <div ng-messages="vehicleInfo.origin.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_bodyType" | translate}}</label>
                     <md-select ng-disabled="!newVehicleModel" ng-model="selectedcarBodyType" ng-change="bodyTypeChanged(selectedcarBodyType)">
                        <md-optgroup label="Body Type">
                        <md-option ng-repeat="item in carBodyType" value="{{item}}">
                           {{item}}
                        </md-option>
                     </md-select>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_transmission" | translate}}</label>
                    <input name="transmission" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.transmission">
                    <div ng-messages="vehicleInfo.transmission.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_seats" | translate}}</label>
                    <input name="seats" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.seats">
                    <div ng-messages="vehicleInfo.seats.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_doors" | translate}}</label>
                    <input name="doors" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.doors">
                    <div ng-messages="vehicleInfo.doors.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_weight" | translate}}</label>
                    <input name="weight" ng-disabled="!newVehicleModel" required ng-model="vehicleModel.weight">
                    <div ng-messages="vehicleInfo.weight.$error">
                      <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50" class="md-block">
                    <label>{{"summary_vehicleInfo_driveTrain" | translate}}</label>
                    <input name="driveTrain" ng-disabled="!newVehicleModel" ng-model="vehicleModel.driveTrain">
                  </md-input-container>
                </form>
              </md-card-content>
            </md-card>
            </div>
            <!-- <md-card flex="100" ng-show="newCar">
              <md-subheader class="md-primary">Batch Info</md-subheader>
              <md-card-content>
                 <div layout="row">
                  <span flex="80">
                    <md-autocomplete
                      ng-disabled=" !(vehicleInfo.$valid)"
                      md-selected-item="selectedImport"
                      md-search-text="importSearchText"
                      md-items="import in imports | filter:importSearchText"
                      md-selected-item-change="selectedImportChange(selectedImport)"
                      md-item-text="'Company: '+import.transportCompany+', Batch ID: '+import.batchId"
                      md-min-length="0"
                      md-max-length="10"
                      placeholder="Enter batch Id to search" style="color:#333;">
                      <md-item-template>
                        <span md-highlight-text="importSearchText">{{'Company: '+import.transportCompany+', Batch ID: '+import.batchId}}</span>
                      </md-item-template>
                    </md-autocomplete>
                  </span>
                   <span flex="20">
                     <md-button class="md-raised md-primary" ng-click="createBatch()" ng-disabled="!(vehicleInfo.$valid)">New batch</md-button>
                   </span>
                </div>
              </md-card-content>
            </md-card> -->
          </div>
      </md-tab>
