<div layout="column" flex-gt-sm="80" flex-gt-md="70">
  <md-card flex="80">
    <md-subheader class="md-primary">In Store</md-subheader>
    <md-card-content>
      <md-table-container>
        <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder>
              <tr md-row>
                <th md-column md-order-by="CarId"><span>Car ID</span></th>
                <th md-column md-order-by="Maker"><span>Maker/Brand</span></th>
                <th md-column md-order-by="Model" md-desc><span>Model</span></th>
                <th md-column md-numeric md-order-by="Year"><span>Manufactory Year</span></th>
                <th md-column md-numeric md-order-by="Odometer"><span>Odometer</span></th>
                <th md-column md-numeric md-order-by="SalePrice"><span>Sale Price</span></th>
                <th md-column md-order-by="Status"><span>Car Status</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="dessert" md-on-select md-auto-select="options.autoSelect" ng-repeat="dessert in itemList | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell><a href="" ng-click="editCar(dessert)">{{::dessert.CarId}}</a></md-cell>
                <td md-cell>{{::dessert.Maker}}</md-cell>
                <td md-cell>{{::dessert.Model}}</td>
                <td md-cell>{{::dessert.Year}}</td>
                <td md-cell>{{::dessert.Odometer| number }}&nbsp;Km</td>
                <td md-cell>{{::dessert.SalePrice | currency}}</td>
                <td md-cell><span class="label primary">{{::dessert.Status}}</span></td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

         <md-table-pagination  md-limit="query.limit" md-page="query.page" md-total="{{itemList.length}}" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate></md-table-pagination>
    </md-card-content>
   
  </md-card>
  <md-card flex="80">
    <md-subheader class="md-primary">On the way</md-subheader>
    <md-card-content>
      <md-table-container>
        <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder>
              <tr md-row>
                <th md-column md-order-by="CarId"><span>Car ID</span></th>
                <th md-column md-order-by="Maker"><span>Maker/Brand</span></th>
                <th md-column md-order-by="Model" md-desc><span>Model</span></th>
                <th md-column md-numeric md-order-by="Year"><span>Manufactory Year</span></th>
                <th md-column md-numeric md-order-by="Odometer"><span>Odometer</span></th>
                <th md-column md-numeric md-order-by="SalePrice"><span>Sale Price</span></th>
                <th md-column md-order-by="Status"><span>Car Status</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="dessert" md-on-select md-auto-select="options.autoSelect" ng-repeat="dessert in itemList | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell><a href="" ng-click="editCar(dessert)">{{::dessert.CarId}}</a></md-cell>
                <td md-cell>{{::dessert.Maker}}</md-cell>
                <td md-cell>{{::dessert.Model}}</td>
                <td md-cell>{{::dessert.Year}}</td>
                <td md-cell>{{::dessert.Odometer| number }}&nbsp;Km</td>
                <td md-cell>{{::dessert.SalePrice | currency}}</td>
                <td md-cell><span class="label primary">{{::dessert.Status}}</span></td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

         <md-table-pagination  md-limit="query.limit" md-page="query.page" md-total="{{itemList.length}}" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate></md-table-pagination>
    </md-card-content>
   
  </md-card>
</div>