<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->  
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/app/app.css">
    <link rel="stylesheet" href="styles/app/loginModal.css">
    <link rel="stylesheet" href="styles/app/spinner.css">
    <!-- endbuild -->
    <!-- material bootstrap -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body ng-app="xtmotorwebuiApp" ng-controller="appCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
   <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)"><img width="140" src="images/xtmotors_logo_fixed_2.png" alt=""></a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <form-search-car> </form-search-car>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">  
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">   Admin <span class="badge">3</span>
                    </a>
                     <ul class="dropdown-menu list-group">
                        <li class="list-group-item"><a href="javascript:void(0)">ID: 000-123 <strong>Change Status to Arriving Soon</strong></a></li>
                        <li class="list-group-item"><a href="javascript:void(0)">ID: 000-124 <strong>Change Status to Shipping</strong></a></li>      
                        <li class="list-group-item"><a href="javascript:void(0)">ID: 000-124 <strong>Arriving in 3 days</strong></a></li>      
                    </ul>
                </li>
                <li  ui-sref-active="active">  <a href="" ui-sref="appSetting"><i class="fa fa-cog fa-lg"></i></a></li>
                <li>  <a href="" ng-click="logout()" >Log out</a></li>
            
            </ul>
        </div>

      
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav navbar-left">
             
                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="customer">Customer</a></li>
                        <!-- <li class="divider"></li> -->
                        <li ui-sref-active="active"><a ui-sref="employee">Employee</a></li>      
                    </ul>
                       <li ui-sref-active="active"><a ui-sref="car">Cars <span class="badge">84</span></a></li>
                       <li ui-sref-active="active"><a ui-sref="settlement">Settlement</a></li>
                       <li ui-sref-active="active"><a ui-sref="storage">Storage</a></li>
                       <li ui-sref-active="active"><a ui-sref="consignment" >Consignments</a></li>
                </li>
            </ul>
            <car-filter></car-filter>
        </div>
    </div>

    <cube-grid-spinner ng-show="isLoading"></cube-grid-spinner>
    <div ui-view state="{{$state.current.name}}" ng-hide="isLoading"></div>

    
<!-- 
    <div class="footer">
      <div class="container">
        <p>Made with <span class="glyphicon glyphicon-heart"></span> By the <strong>Shyin</strong> team</p>
      </div>
    </div> -->
    <button class="btn btn-fab btn-raised btn-material-red home--button-add" ng-click="checkCurrentPage()"><i class="mdi-content-add"></i></button>


    <div class="alert-container" style="position: fixed; width: 400px; bottom: 0px;">
           <alert  ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg+alert.type}}</alert>
    </div>
  



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/i18next/i18next.js"></script>
    <script src="bower_components/ng-i18next/dist/ng-i18next.js"></script>
    <!-- endbower -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.js"></script>

     <script>
            $(document).ready(function() {
                // This command is used to initialize some elements and make them work properly
                $.material.init();
                
            });
    </script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="modules/app.js"></script>
        <script src="modules/app.controllers.js"></script>
        <script src="modules/app.directives.js"></script>
        <script src="modules/app.services.js"></script>
        <script src="modules/car/car.js"></script>
        <script src="modules/car/car.controllers.js"></script>
        <script src="modules/consignment/consignment.js"></script>
        <script src="modules/consignment/consignment.controllers.js"></script>
        <script src="modules/consignment/consignment.directives.js"></script>
        <script src="modules/customer/customer.js"></script>
        <script src="modules/customer/customer.controllers.js"></script>
        <script src="modules/employee/employee.js"></script>
        <script src="modules/employee/employee.controllers.js"></script>
        <script src="modules/settlement/settlement.js"></script>
        <script src="modules/settlement/settlement.controllers.js"></script>
        <script src="modules/storage/storage.js"></script>
        <script src="modules/storage/storage.controllers.js"></script>
       
        <!-- endbuild -->
</body>
</html>