<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>XTMOTORS GROUP LTD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->  
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/app/app.css">
    <link rel="stylesheet" href="styles/app/loginModal.css">
    <link rel="stylesheet" href="styles/app/spinner.css">
    <link rel="stylesheet" href="styles/app/angular-material.css">
    <!-- endbuild -->
    <!-- material bootstrap -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.layouts.css">
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body ng-app="xtmotorwebuiApp" ng-controller="appCtrl" layout="row">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
<!--    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)"><img width="140" src="images/xtmotors_logo_fixed_2.png" alt=""></a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <form-search-car> </form-search-car>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">  
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">   Admin <span class="badge">3</span>
                    </a>
                     <ul class="dropdown-menu list-group">
                        <li class="list-group-item"><a href="javascript:void(0)">ID: 000-123 <strong>Change Status to Arriving Soon</strong></a></li>
                        <li class="list-group-item"><a href="javascript:void(0)">ID: 000-124 <strong>Change Status to Shipping</strong></a></li>      
                        <li class="list-group-item"><a href="javascript:void(0)">ID: 000-124 <strong>Arriving in 3 days</strong></a></li>      
                    </ul>
                </li>
                <li  ui-sref-active="active">  <a href="" ui-sref="appSetting"><i class="fa fa-cog fa-lg"></i></a></li>
                <li>  <a href="" ng-click="logout()" >Log out</a></li>
            
            </ul>
        </div>

      
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav navbar-left">
             
                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="customer">Customer</a></li>
                
                        <li ui-sref-active="active"><a ui-sref="employee">Employee</a></li>      
                    </ul>
                       <li ui-sref-active="active"><a ui-sref="car">Cars <span class="badge">84</span></a></li>
                       <li ui-sref-active="active"><a ui-sref="settlement">Settlement</a></li>
                       <li ui-sref-active="active"><a ui-sref="storage">Storage</a></li>
                       <li ui-sref-active="active"><a ui-sref="consignment" >Consignments</a></li>
                </li>
            </ul>
            <car-filter></car-filter>
        </div>
    </div> -->

    <cube-grid-spinner ng-show="isLoading"></cube-grid-spinner>
    <!-- <div ui-view state="{{$state.current.name}}" ng-hide="isLoading"></div> -->
     <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-hue-2">
        <span flex></span>
        <div layout="row" layout-align="start center">
          <md-icon class="md-avatar" md-svg-icon="avatars:svg-1"></md-icon>
          <span flex></span>
        </div>
        <span flex></span>
        <div class="md-body-2">Firstname Lastname</div>
        <div class="md-body-1">email@domainname.com</div>
      </md-toolbar>
      <md-list>
        <md-list-item class="md-2-line initial-height" ui-sref-active="active" ng-repeat="item in menu" role="link" md-ink-ripple>
          <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
          <div class="md-list-item-text" ui-sref="{{item.link}}">
            <span class="md-body-2">{{item.title}}</span>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader  class="md-no-sticky">Management</md-subheader>
        <md-list-item class="md-2-line initial-height md-primary" ng-repeat="item in admin" role="link" md-ink-ripple>
          <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
          <div class="md-list-item-text" ui-sref="{{item.link}}">
            <span class="md-body-2">{{item.title}}</span>
          </div>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <div layout="column" class="relative" layout-fill role="main">
      <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-disabled="buttonDisable" ng-click="checkCurrentPage()">
        <ng-md-icon icon="add"></ng-md-icon>
      </md-button>
      <md-toolbar ng-show="!showSearch" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
          <h2>
            {{$state.current.name | uppercase}}
          </h2>
          <span flex></span>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-toolbar ng-show="showSearch" class="animate-show md-hue-1 md-whiteframe-z1">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleSearch()" aria-label="Menu">
            <md-icon md-svg-icon="navigation:ic_arrow_back_24px" aria-label="Back"></md-icon>
          </md-button>
          <h3 role="button" ng-click="toggleSearch()">
            Back
          </h3>
          <span flex="5"></span>
          <span ng-controller="DemoCtrl as ctrl" flex>
            <md-autocomplete md-theme="input"
              md-input-name="autocompleteField"
              md-no-cache="ctrl.noCache"
              md-selected-item="ctrl.selectedItem"
              md-search-text="ctrl.searchText"
              md-items="item in ctrl.querySearch(ctrl.searchText)"
              md-item-text="item.display"
              placeholder="Search">
              <md-item-template>
                <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
              </md-item-template>
              <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                <div ng-message="required">You <b>must</b> have a favorite state.</div>
                <div ng-message="minlength">Your entry is not long enough.</div>
                <div ng-message="maxlength">Your entry is too long.</div>
              </div>
            </md-autocomplete>
          </span>
          
        </div>
      </md-toolbar>
      <md-content flex md-scroll-y>
        <ui-view layout="column" state="{{$state.current.name}}" ng-hide="isLoading" layout-fill layout-padding>
     
        </ui-view>
      </md-content>

    </div>

    
<!-- 
    <div class="footer">
      <div class="container">
        <p>Made with <span class="glyphicon glyphicon-heart"></span> By the <strong>Shyin</strong> team</p>
      </div>
    </div> -->
 <!--    <button class="btn btn-fab btn-raised btn-material-red home--button-add" ng-class="{'disabled':buttonDisable}" ng-click="checkCurrentPage()"><i class="mdi-content-add"></i></button>

    <div class="alert-container" style="position: fixed; width: 400px; bottom: 0px;">
           <alert  ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg+alert.type}}</alert>
    </div>
  
 -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/i18next/bin/index.js"></script>
    <script src="bower_components/ng-i18next/dist/ng-i18next.js"></script>
    <!-- endbower -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.js"></script>

     <script>
            $(document).ready(function() {
                // This command is used to initialize some elements and make them work properly
                $.material.init();
                
            });
    </script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="modules/app.js"></script>
        <script src="modules/app.controllers.js"></script>
        <script src="modules/app.directives.js"></script>
        <script src="modules/app.services.js"></script>
        <script src="modules/car/car.js"></script>
        <script src="modules/car/car.controllers.js"></script>
        <script src="modules/consignment/consignment.js"></script>
        <script src="modules/consignment/consignment.controllers.js"></script>
        <script src="modules/consignment/consignment.directives.js"></script>
        <script src="modules/customer/customer.js"></script>
        <script src="modules/customer/customer.controllers.js"></script>
        <script src="modules/employee/employee.js"></script>
        <script src="modules/employee/employee.controllers.js"></script>
        <script src="modules/settlement/settlement.js"></script>
        <script src="modules/settlement/settlement.controllers.js"></script>
        <script src="modules/storage/storage.js"></script>
        <script src="modules/storage/storage.controllers.js"></script>
       <script src="templateCache.js"></script>
        <!-- endbuild -->
        
</body>
</html>