button.home--button-add{
	position: fixed;
	top:85%;
	right: 3%;
}
/*canvas{
    width: 800px;
    max-width: 800px;
    min-width: 400px;
    height: 345px;
    max-height:345px;
    min-height: 173px;
}*/

.contractSearchContainer{
	margin: 0 !important;
	height: 40px !important;	
}

.autoComplete{
	margin-bottom: 50px !important;
	color:#333;
}
