button.home--button-add{
	position: fixed;
	top:85%;
	right: 3%;
}
canvas{
    width: 100% !important;
    min-width: 800px;
    // height: 350px;
}

.contractSearchContainer{
	margin: 0 !important;
	height: 40px !important;	
}

.autoComplete{
	margin-bottom: 50px !important;
	color:#333;
}
