.modal-dialog {
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0!important;
}

.modal-content {
  height: 100% !important;
  border-radius: 0;
  background: url('../../images/xtmotors_bg_bmw.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  .version-no{
  	position: absolute;
  	bottom: 15px;
  	right: 25px;
  	color: white;
  }
  .container{
  	z-index: 3;
  	padding-top: 12%;
  	img{
  		padding-bottom: 50px;
  	}
  	#login-form {
      margin: 0 auto;
  		input{
  			background: rgba(255,255,255,0.4);
  			height: 50px;
  			margin-bottom: 20px;
  			padding-left: 10px;
  			color: #FFFFFF;
  			&:focus{
  				color: white;
  			}
  		}
  		.row.login-options{
  			padding-left: 15px;
  			color: white;
  		}
      md-checkbox{
        margin-left: 15px;
        margin-top: 15px;
        .md-container{
          border-width: 2px ; 
          border-style: solid;
          border-color: #FFFFFF;
        }
        span{
          color: #FFFFFF !important;  
          font-size: 16px;
          /*font-weight: bold;*/
        }
      }
      
      .md-button{
        background-color: #3f51b5 !important;
        color: #FFFFFF;
        margin: 0 !important;
      }
  	}

  }
  
}