<div layout="column">
  <form layout-wrap name="salesSummary">
  <div layout="row">
    <md-card flex="50">
    <md-subheader class="md-primary">{{"sales_details_contractDetails" | translate}}</md-subheader>
      <md-card-content>
        <div layout="row" layout-wrap>
          <md-input-container flex="100" class="md-block contractSearchContainer">
            <label>{{"carId" | translate}}</label>
            <input required disabled ng-model="contract.carId" name="carId">
            <div ng-messages="salesSummary.carId.$error">
              <!-- <div ng-message="required">{{"requiredFieldError" | translate}}.</div> -->
            </div>
          </md-input-container>
          <md-autocomplete
            flex="100"
            ng-disabled="!newContact"
            md-selected-item="selectedCar"
            md-search-text="carSearchText"
            md-items="car in cars | filter:carSearchText"
            md-selected-item-change="selectedCarChange(selectedCar)"
            md-item-text="car.vin"
            md-min-length="0"
            md-max-length="10"
            placeholder="Enter Vin number to Search Car"
            class="autoComplete">
            <md-item-template>
              <span md-highlight-text="carSearchText">{{'[Vin number: '+car.vin+'] --- [Model: '+car.makerName+', '+car.model+', '+car.year + '] --- [ID: '+car.carId+"]"}}</span>
            </md-item-template>
          </md-autocomplete>

          <md-input-container flex="100" class="md-block contractSearchContainer">
            <label>{{"customerId" | translate}}</label>
            <input required ng-model="contract.customerId" name="customerId">
            <div ng-messages="salesSummary.customerId.$error">
              <!-- <div ng-message="required">{{"requiredFieldError" | translate}}.</div> -->
            </div>
          </md-input-container>
          <md-autocomplete
            flex="100"
            md-selected-item="selectedCustomer"
            md-search-text="customerSearchText"
            md-items="customer in customers | filter:customerSearchText"
            md-selected-item-change="selectedCustomerChange(selectedCustomer)"
            md-item-text="customer.firstName +' '+customer.lastName"
            md-min-length="0"
            md-max-length="10"
            placeholder="Enter CustomerId to Search Customer"
            class="autoComplete">
            <md-item-template>
              <span md-highlight-text="customerSearchText">{{'Id: '+customer.customerId+', Name: '+customer.firstName +' '+customer.lastName}}</span>
            </md-item-template>
          </md-autocomplete>

          <md-input-container flex="100" class="md-block contractSearchContainer">
            <label>{{"employeeId" | translate}}</label>
            <input required ng-model="contract.employeeId" name="employeeId">
            <div ng-messages="salesSummary.employeeId.$error">
              <!-- <div ng-message="required">{{"requiredFieldError" | translate}}.</div> -->
            </div>
          </md-input-container>
          <md-autocomplete
            flex="100"
            md-selected-item="selectedEmployee"
            md-search-text="employeeSearchText"
            md-items="employee in employees | filter:employeeSearchText"
            md-selected-item-change="selectedEmployeeChange(selectedEmployee)"
            md-item-text="employee.firstName +' '+employee.lastName"
            md-min-length="0"
            md-max-length="10"
            placeholder="Enter EmployeeId to Search Employee">
            <md-item-template>
              <span md-highlight-text="employeeSearchText">{{'Id: '+employee.employeeId+', Name: '+employee.firstName +' '+employee.lastName}}</span>
            </md-item-template>
          </md-autocomplete>
          
        </div>
      </md-card-content>
    </md-card>

    <md-card flex="50">
      <md-card-content>
        <div layout="row" layout-wrap>
          <div class="checkBox" flex="100">
            <md-checkbox class="md-block" ng-model="contract.paymentStatus" aria-label="contract">
              {{contract.paymentStatus ?'Paid' :'Unpaid'}}
            </md-checkbox>
          </div>
          <md-input-container flex="50" class="md-block">
            <label>{{"contractNumber" | translate}}</label>
            <input required ng-model="contract.contractNum" name="contractNum" ng-pattern="/^[0-9|-]*$/" md-maxlength="50">
            <div ng-messages="salesSummary.contractNum.$error">
              <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
              <div ng-message="pattern">Please enter an valid phone number. (Numbers only)</div>
              <div ng-message="md-maxlength">Contract Number must be less than 100 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>{{"deposite" | translate}}</label>
            <input required ng-model="contract.deposite" name="deposite" type="number">
            <div ng-messages="salesSummary.deposite.$error">
              <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>{{"price" | translate}}</label>
            <input required ng-model="contract.price" name="price" type="number" min="0" max="9999999999.99">
            <div ng-messages="salesSummary.price.$error">
              <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
              <div ng-message="min">Warranty must between 0 to 9999999999.99</div>
              <div ng-message="max">Warranty must between 0 to 9999999999.99</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>{{"contractDate" | translate}}</label>
            <md-datepicker required ng-model="contract.contractDate" name="contractDate" md-hide-icons="calendar"></md-datepicker>
            <div ng-messages="salesSummary.contractDate.$error">
              <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
            </div>
          </md-input-container>

          <md-input-container flex="50" class="md-block">
            <label>{{"currency" | translate}}</label>
             <md-select required ng-model="selectedCurrency" ng-change="currencyChanged(selectedCurrency)" name="currency">
                <md-optgroup label="Currency">
                <md-option ng-repeat="item in salesCurrency" value="{{item}}">
                   {{item}}
                </md-option>
             </md-select>
             <div ng-messages="salesSummary.currency.$error">
              <div ng-message="required">{{"requiredFieldError" | translate}}.</div>
            </div>
          </md-input-container>
          <md-input-container flex="100" class="md-block carDescription">
            <label>{{"description" | translate}}</label>
            <textarea ng-model="contract.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </div>
      </md-card-content>
    </md-card>
  </div>
  </form>

  <div layout="row" layout-align="center">
    <md-button flex="25" class="md-raised" ng-click="backToContract()">{{"cancel" | translate}}</md-button>
    <md-button flex="25" class="md-raised md-primary" ng-click="saveContract(contract)">{{"save" | translate}}</md-button>
  </div>

</div>
