<div layout="column">
<!--   <div layout="row">
    <md-card flex>
      <md-card-content>
        <p class="md-display-2 font-weight-100 margin-top-10 margin-bottom-0 ng-scope ng-isolate-scope" count-to="{{countToPaid}}" value="{{countFromPaid}}" duration="1.5" decimals="0"></p>
        <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-10 ng-scope" translate="">Paid Funds</p>
      </md-card-content>
    </md-card>
    <md-card flex>
      <md-card-content>
        <p class="md-display-2 font-weight-100 margin-top-10 margin-bottom-0 ng-scope ng-isolate-scope" count-to="{{countToPaid}}" value="{{countFromPaid}}" duration="1.5" decimals="0"></p>
        <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-10 ng-scope" translate="">Unpaid Funds</p>
      </md-card-content>
    </md-card>
    <md-card flex>
      <md-card-content>
        <p class="md-display-2 font-weight-100 margin-top-10 margin-bottom-0 ng-scope ng-isolate-scope" count-to="{{countToPaid}}" value="{{countFromPaid}}" duration="1.5" decimals="0" options="{ prefix: '$' }"></p>
        <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-10 ng-scope" translate="">Total Sales</p>
      </md-card-content>
    </md-card>
    <md-card flex>
      <md-card-content>
        <p class="md-display-2 font-weight-100 margin-top-10 margin-bottom-0 ng-scope ng-isolate-scope" count-to="{{countToPaid}}" value="{{countFromPaid}}" duration="1.5" decimals="0" options="{ prefix: '$' }"></p>
        <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-10 ng-scope" translate="">Total Sales</p>
      </md-card-content>
    </md-card>
  </div>
 -->

  <md-card flex-gt-sm="90" flex-gt-md="70" ng-repeat="import in imports">
      <md-card-content>
        <md-list-item class="md-3-line" >
          <md-icon class="md-avatar" md-svg-icon="avatars:svg-1"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3 ng-click="editImport(import)">Batch ID : {{::import.batchId}}</h3>
            <h4>{{::import.transportCompany}}</h4>
            <p>{{::import.checkLocation}}</p>
            <p>{{::import.eta}}</p>
          </div>
        </md-list-item>
      </md-card-content>
  </md-card>
   <div layout="row" layout-align="center">
      <pagination
        ng-change="pageChanged()"
        total-items="totalCustomers" 
        items-per-page="customersPerPage" 
        ng-model="pagination.currentPage" 
        max-size="totalPages" 
        class="pagination-sm" 
        boundary-links="true">
      </pagination>   
    </div>

</div>

