<div layout="column">
  <div layout="row">
    <md-card flex="50">
    <md-subheader class="md-primary">Imported Vehicle Information</md-subheader>
      <md-card-content>
        <div layout="row" layout-wrap>
          <md-input-container flex="50" class="md-block">
            <label>CarId</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>Odometer</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container> 
          <md-input-container flex="50" class="md-block">
            <label>Vin</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container> 
          <md-input-container flex="50" class="md-block">
            <label>CarStatus</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container> 
          <md-input-container flex="50" class="md-block">
            <label>CarComment</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
           <md-input-container flex="50" class="md-block">
            <label>Price</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
           <md-input-container flex="50" class="md-block">
            <label>GST</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
           <md-input-container flex="50" class="md-block">
            <label>PaymentStatus</label>
             <md-select ng-model="user.state">
              <!--   <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                  {{state.abbrev}}
                </md-option> -->
                <md-option value="">Yes</md-option>
                <md-option value="">No</md-option>
              </md-select>
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
           <md-input-container flex="50" class="md-block">
            <label>Currency</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>RegisterationNum</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>WofTime</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>Warranty</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
        </div>
      </md-card-content>
    </md-card>
    
    <md-card flex="50">
    <md-subheader class="md-primary">Vehicle Model Information</md-subheader>
      <md-card-content>
        <div layout="row" layout-wrap>
          <md-input-container flex="50" class="md-block">
            <label>Maker/Brand</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>Year</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>Model</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>  
          <md-input-container flex="50" class="md-block">
            <label>Engine</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>Fuel</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container> 
          <md-input-container flex="50" class="md-block">
            <label>Origin</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container> 
          <md-input-container flex="50" class="md-block">
            <label>Transmission</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container> 
          <md-input-container flex="50" class="md-block">
            <label>Seats</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container> 
          <md-input-container flex="50" class="md-block">
            <label>Doors</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>DriveTrain</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>Weight</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="100" class="md-block">
            <label>Description</label>
            <input md-maxlength="30" required name="description" ng-model="project.description">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <md-card flex="100">
    <md-subheader class="md-primary">Transportation Information</md-subheader>
      <md-card-content layout="row" layout-wrap>
         <md-input-container flex="50" class="md-block">
            <label>TransportationExpense</label>
            <input md-maxlength="30" required name="description" ng-model="project.description">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>TransportCompany</label>
            <input md-maxlength="30" required name="description" ng-model="project.description">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>

          <md-datepicker flex="100" ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
          
      </md-card-content>
  </md-card>

</div>

