<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Basic Information</div>
      <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
             <div class="form-group">
                <label class="control-label" for="inputDefault">ID</label>
                <input type="text" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="control-label" for="inputDefault">Chassis</label>
                <input type="text" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="control-label" for="inputDefault">Manufacturer</label>
                <select id="select111" class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="inputDefault">Model Detail</label>
                <input type="text" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="control-label" for="inputDefault">Odometer</label>
                <input type="text" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
              <label class="control-label" for="inputDefault">Repairment</label>
              <input type="text" class="form-control" id="inputDefault">
            </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                  <label class="control-label" for="inputDefault">Registration</label>
                  <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">VIN</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Model</label>
                <select id="select111" class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Year</label>
                <select id="select111" class="form-control">
                  <option>1975</option>
                  <option>1976</option>
                  <option>1988</option>
                  <option>1999</option>
                  <option>2008</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">CC</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Warranty</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>

            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-sm-6">
       <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Car Spec</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="inputDefault">Fuel Consumption</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Drivetrain</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Doors</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Seat</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Hand Side</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>

            </div>
            <div class="col-sm-6">
               <div class="form-group">
                  <label class="control-label" for="inputDefault">Weight</label>
                  <input type="text" class="form-control" id="inputDefault">
              </div>  
              <div class="form-group">
                  <label class="control-label" for="inputDefault">Model Type</label>
                  <input type="text" class="form-control" id="inputDefault">
              </div>  
              <div class="form-group">
                  <label class="control-label" for="inputDefault">Drivetrain</label>
                  <input type="text" class="form-control" id="inputDefault">
              </div>  
              <div class="form-group">
                  <label class="control-label" for="inputDefault">Size</label>
                  <input type="text" class="form-control" id="inputDefault">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Car Status
        </div>
        <div class="panel-body">

          <div class="radio radio-primary">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><span class="circle"></span><span class="check"></span>
              Option one is this
            </label>
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><span class="circle"></span><span class="check"></span>
              Option one is this
            </label>
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""><span class="circle"></span><span class="check"></span>
              Option one is this
            </label>
          </div>

      </div>
    </div>
  </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Features</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div> 
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked=""><span class="checkbox-material"><span class="check"></span></span> Auto-updates
                  </label>
                </div>
              </div>
            </div>
          </div>
          
        </div>

      </div>
    </div>
   
  </div>
  
<div class="row">
  <div class="text-center">
    <a href="javascript:void(0)" ui-sref="car" class="btn btn-raised btn-danger">Cancel</a>
    <a href="javascript:void(0)" class="btn btn-raised btn-primary">Save</a>
  </div>
</div>
