

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>{{"id" | translate}}</th>
        <th>{{"brand" | translate}}</th>
        <th>{{"model" | translate}}</th>
        <th>{{"year" | translate}}</th>
        <th>{{"odometer" | translate}}</th>
        <th>{{"sale price" | translate}}</th>
        <th>{{"vehicle status" | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>000-001</td>
        <td>BMW</td>
        <td>335i</td>
        <td>2013</td>
        <td>4,000 Km</td>
        <td>$ 23,000</td>
        <td><span class="label label-info">Shipping</span></td>
      </tr>
      <tr>
         <td>000-001</td>
        <td>BMW</td>
        <td>335i</td>
        <td>2013</td>
        <td>4,000 Km</td>
        <td>$ 23,000</td>
        <td><span class="label label-danger">Shipping</span></td>
      </tr>
     <tr>
        <td>000-001</td>
        <td>BMW</td>
        <td>335i</td>
        <td>2013</td>
        <td>4,000 Km</td>
        <td>$ 23,000</td>
        <td><span class="label label-primary">Shipping</span></td>
      </tr> 
        <tr>
        <td>000-001</td>
        <td>BMW</td>
        <td>335i</td>
        <td>2013</td>
        <td>4,000 Km</td>
        <td>$ 23,000</td>
        <td><span class="label label-warning">Shipping</span></td>
      </tr> 
        <tr>
        <td>000-001</td>
        <td>BMW</td>
        <td>335i</td>
        <td>2013</td>
        <td>4,000 Km</td>
        <td>$ 23,000</td>
        <td><span class="label label-success">Shipping</span></td>
      </tr> 
    </tbody>  
  </table>
</div>
