<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6">
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Basic Information</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
             <div class="form-group">
                <label class="control-label" for="inputDefault">On Road Costs</label>
                <input type="text" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="control-label" for="inputDefault">Engine</label>
                <input type="text" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="control-label" for="inputDefault">Odometer</label>
                <input type="text" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="control-label" for="inputDefault">Transmission</label>
                <input type="text" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="control-label" for="inputDefault">Returnment</label>
                <input type="text" class="form-control" id="inputDefault">
            </div>
            <div class="form-group">
              <label class="control-label" for="inputDefault">Repairment</label>
              <input type="text" class="form-control" id="inputDefault">
            </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                  <label class="control-label" for="inputDefault">Location</label>
                  <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Year</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Petrol or Diesel</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Origin</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Fuel Saver</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Warranty</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>

            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-sm-6">
       <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Car Spec</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="inputDefault">Fuel Consumption</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Drivetrain</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Doors</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Seat</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputDefault">Hand Side</label>
                <input type="text" class="form-control" id="inputDefault">
              </div>

            </div>
            <div class="col-sm-6">
               <div class="form-group">
                  <label class="control-label" for="inputDefault">Weight</label>
                  <input type="text" class="form-control" id="inputDefault">
              </div>  
              <div class="form-group">
                  <label class="control-label" for="inputDefault">Model Type</label>
                  <input type="text" class="form-control" id="inputDefault">
              </div>  
              <div class="form-group">
                  <label class="control-label" for="inputDefault">Drivetrain</label>
                  <input type="text" class="form-control" id="inputDefault">
              </div>  
              <div class="form-group">
                  <label class="control-label" for="inputDefault">Size</label>
                  <input type="text" class="form-control" id="inputDefault">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
    
  
  <div class="row">
    <div class="text-center">
      <a href="javascript:void(0)" ui-sref="car" class="btn btn-danger">Cancel</a>
      <a href="javascript:void(0)" class="btn btn-primary">Save</a>
    </div>
  </div>
</div>