<md-card flex-gt-sm="90" flex-gt-md="70" ui-view="customer-details-view">
    <md-card-content>
      <md-list-item class="md-3-line" ng-repeat="customer in paginatedCustomers">
        <md-icon class="md-avatar" md-svg-icon="avatars:svg-1"></md-icon>
        <div class="md-list-item-text" layout="column">
          <h3>{{customer.FirstName}}&nbsp;{{customer.LastName}}</h3>
          <h4>{{customer.EmailAddress}}</h4>
          <p>{{customer.Mobile}}</p>
        </div>
        <md-divider ></md-divider>
      </md-list-item>
      <div layout="row" layout-align="center">
        <pagination
          ng-change="pageChanged()"
          total-items="totalCustomers" 
          items-per-page="customersPerPage" 
          ng-model="pagination.currentPage" 
          max-size="totalPages" 
          class="pagination-sm" 
          boundary-links="true">
        </pagination>   
      </div>
    </md-card-content>
</md-card>
