<div layout="column">
  <div layout="row">
    <md-card flex="50">
    <md-subheader class="md-primary">Employee Details Information</md-subheader>
      <md-card-content>
        <div layout="row" layout-wrap>
          <md-input-container flex="50" class="md-block">
            <label>Employee Id</label>
            <input required ng-model="item.CustomerId" disabled="item.CustomerId">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>Title</label>
            <input required ng-model="item.Title">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container> 
          <md-input-container flex="50" class="md-block">
            <label>FirstName</label>
            <input required ng-model="item.FirstName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container> 
          <md-input-container flex="50" class="md-block">
            <label>LastName</label>
            <input required ng-model="item.LastName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container> 
          <md-input-container flex="50" class="md-block">
            <label>Mobile</label>
            <input required ng-model="item.Mobile">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
           <md-input-container flex="50" class="md-block">
            <label>EmailAddress</label>
            <input required ng-model="item.EmailAddress">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
        </div>
      </md-card-content>
    </md-card>
    
    <md-card flex="50">
    <md-subheader class="md-primary">Vehicle Model Information</md-subheader>
      <md-card-content>
        <div layout="row" layout-wrap>
          <md-input-container flex="50" class="md-block">
            <label>Maker/Brand</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>Year</label>
            <input required ng-model="vehicle.MakerName">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
         
        </div>
      </md-card-content>
    </md-card>
  </div>

  <md-card flex="100">
    <md-subheader class="md-primary">Transportation Information</md-subheader>
      <md-card-content layout="row" layout-wrap>
         <md-input-container flex="50" class="md-block">
            <label>TransportationExpense</label>
            <input md-maxlength="30" required name="description" ng-model="project.description">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>TransportCompany</label>
            <input md-maxlength="30" required name="description" ng-model="project.description">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>

          <md-datepicker flex="100" ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
          
      </md-card-content>
  </md-card>
  <div layout="row" layout-align="center">
    <md-button flex="25" class="md-raised" ng-click="backToCustomer()">Cancel</md-button>
    <md-button flex="25" class="md-raised md-primary" ng-click="saveCustomer(item)">Save</md-button>
  </div>
 
</div>

